# Arquivos e pastas do Git
.git
.gitignore

# Arquivos de build do Maven que não devem ser copiados
target/
pom.xml.tag
pom.xml.versionsBackup

# Arquivos do IDE
.idea/
*.iml

# Logs
*.log

# Arquivos do sistema
.DS_Store